<% include  ./partials/header %>
    <main>
        <h1 class="container">
            <%= blog.title%>
        </h1>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 ol-md-6 mb-4">
                    <!--Card-->
                    <div class="card">
                        <!--Card image-->
                        <img class="img-fluid" src="<%= blog.image %>" alt="Card image cap">

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">
                                <%= blog.title %>
                            </h4>
                            <!--Text-->
                            <p class="card-text">
                                <%- blog.body %>
                            </p>
                            <a href="/blogs/<%= blog._id%>/edit" class="btn btn-primary">Edit this blog</a>
                        </div>
                        <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-deep-orange">Delete</button>
                        </form>
                    </div>
                    <!--/.Card-->
                </div>
            </div>
    </main>



    </div>

    <% include  ./partials/footer %>